@import './styles/reset.css';
@import './styles/grid.css';
@import './styles/font.css';

/* Reset */

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* Application */

html {
  font-size: 10px;
}

body {
  font-family: 'Poppins-Regular';
  font-size: 1.6rem;
}

/* Shared */

.about_product {
  margin: 0 auto;
  text-align: center;
  width: 37%;
}

.about_heading {
  color: #aca3ba;
  font-size: 1.5rem;
  font-weight: 700;
}

.about_title {
  padding: 1.5rem 0 3rem 0;
  font-size: 4.8rem;
  font-weight: 900;
  font-family: 'Poppins-Bold';
  line-height: 6rem;
  color: #3f3849;
}

.about_title>span {
  color: #7d1eff;
}

.about_more {
  font-size: 1.8rem;
  color: #3f3849;
  line-height: 3rem;
}

/* header style */

.header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 999;
  transition: all 200ms ease-in;
  padding: 5rem 0;
}

.header-scroll {
  background-color: #fff;
  padding: 2.2rem;
  box-shadow: 0 0 4rem rgb(0 0 0 / 15%);
}

.header__wrapper {
  width: 93%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #FFF;
}

/* .header__logo-wrapper {} */

/* .header__logo {} */

.header__basket {
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
}

.header__basket>svg {
  color: #a07eb5;
  font-weight: 400;
  font-size: 150%;
  cursor: pointer;
}

.basket__item-counter {
  position: absolute;
  top: 0;
  left: 50%;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  font-size: 1.1rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 1px 2px 1px rgb(0 0 0 / 15%);
  background-color: #7d1eff;
}

.header__menu {
  display: flex;
  color: #FFF;
}

.header__menu-item {
  cursor: pointer;
  padding: 0 1.8rem;
  font-weight: 700;
  font-size: 1.4rem;
  transition: color 200ms ease-in;
}

.header__menu-item:hover {
  color: #B3B3B3;
  transition: color 200ms ease-in;
}

.header__main {
  padding-top: 7rem;
  height: 100vh;
  background-color: #2B2B2B;
  position: relative;
  overflow: hidden;
}

.main__circle-left {
  position: absolute;
  opacity: .4;
  width: 30%;
  top: -15rem;
  left: -23rem;
}

.main__circle-right {
  position: absolute;
  width: 60%;
  bottom: -30rem;
  right: -30rem;
}

.header__banner-review {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.header__main-title {
  font-weight: 700;
  font-family: 'Poppins-Bold';
  font-size: 7.8rem;
  color: #fff;
  line-height: 8.1rem;
}

.header__main-title>span {
  color: #994fff;
}

.header__smart-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header__smart-img {
  width: 90%;
  z-index: 1;
}

.header__main-future {
  padding: 7rem 0 3rem 0;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-family: 'Poppins-Bold';
  font-weight: 700;
  color: #fff;
}

.header__main-caption {
  font-size: 1.4rem;
  opacity: 0.9;
  color: #b2aabf;
  line-height: 2.7rem;
}

/* gallery style */

.gallery {
  padding: 15rem 0;
  background-color: #F4F4F4;
}

/* Responsive */

@media screen and (max-width: 1200px) {}

@media screen and (max-width: 992px) {}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 576px) {
  /* * {
        cursor: default !important;
    } */
}

@media screen and (max-width: 380px) {}