@import './styles/reset.css';
@import './styles/grid.css';
@import './styles/font.css';

/* Reset */

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* Application */

html {
  font-size: 10px;
}

body {
  font-family: 'Poppins-Regular';
  font-size: 1.6rem;
}

/* Helper Class */

/* Shared About Product */

.about_product {
  margin: 0 auto;
  width: 55%;
}

.about_heading {
  color: #aca3ba;
  font-size: 1.5rem;
  font-weight: 700;
}

.about_title {
  padding: 1.5rem 0 3rem 0;
  font-size: 4.8rem;
  font-weight: 900;
  font-family: 'Poppins-Bold';
  line-height: 6rem;
  color: #3f3849;
}

.about_title>span {
  color: #7d1eff;
}

.about_more {
  font-size: 1.8rem;
  color: #3f3849;
  line-height: 3rem;
}

/* Shared Splendid Option */

.splendid__wrapper-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.splendid__img {
  width: 80%;
}

/* .splendid__content {} */

/* .splendid__content-heading {} */

.splendid__content-title {
  text-transform: uppercase;
}

/* .splendid__content-caption {} */

.splendid__option-container {
  transition: all 200ms ease-in;
  display: flex;
}

.splendid__option-container:nth-child(2) {
  padding: 5rem 0;
}

.splendid__option-container:hover {
  transition: all 200ms ease-in;
  transform: translateX(1rem);
}

.splendid__icon-box {
  padding-right: 3rem;
}

.splendid__icon-box>svg {
  font-size: 2.9rem;
  color: #7d1eff;
}

/* .splendid__option-more {} */

.splendid__option-head {
  font-family: 'Poppins-Bold';
  font-weight: 800;
  font-size: 1.6rem;
  color: #3f3849;
  padding-bottom: .9rem;
}

.splendid__option-desc {
  color: #8d8698;
  line-height: 2.8rem;
  width: 60%;
}

.smart__props {
  display: flex;
  flex-direction: column;
}

.smart__quality {
  border-radius: 1rem;
  height: .5rem;
  margin-top: 3rem;
  background-color: #7d1eff;
}

/* header style */

.header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 999;
  transition: all 200ms ease-in;
  padding: 3rem 0;
}

.header-scroll {
  background-color: #fff;
  padding: 2.2rem;
  box-shadow: 0 0 4rem rgb(0 0 0 / 15%);
}

.header__wrapper {
  width: 93%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #FFF;
}

/* .header__logo-wrapper {} */

/* .header__logo {} */

.header__basket,
.basket-query {
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
}

.header__basket>svg,
.basket-query>svg {
  color: #a07eb5;
  font-weight: 400;
  font-size: 150%;
  cursor: pointer;
}

.basket__item-counter,
.basket-counter-query {
  position: absolute;
  top: 0;
  left: 50%;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  font-size: 1.1rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 1px 2px 1px rgb(0 0 0 / 15%);
  background-color: #7d1eff;
}

.basket-query {
  display: none;
  width: auto;
  padding-left: .5rem;
}

.header__menu {
  display: flex;
  color: #FFF;
}

.header__menu-item {
  cursor: pointer;
  padding: 0 1.8rem;
  font-weight: 700;
  font-size: 1.4rem;
  transition: color 200ms ease-in;
}

.header__menu-item:hover {
  color: #B3B3B3;
  transition: color 200ms ease-in;
}

.nav_line-basket {
  display: none;
}

/* Hamburger Menu */

.nav__toggle-icon {
  display: none;
  width: 5rem;
  height: 4rem;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.nav_toggle-line {
  position: relative;
}

.nav_toggle-line,
.nav_toggle-line::before,
.nav_toggle-line::after {
  content: ' ';
  border-radius: 2rem;
  width: 3rem;
  height: .4rem;
  transition: all 120ms ease-in;
  background-color: #7d1eff;
}

.nav_toggle-line::before {
  position: absolute;
  top: .8rem;
}

.nav_toggle-line::after {
  position: absolute;
  bottom: .8rem;
}

.clicked .nav_toggle-line {
  background-color: transparent;
}

.clicked .nav_toggle-line::before {
  transform: translateY(-.8rem) rotate(-45deg);
}

.clicked .nav_toggle-line::after {
  transform: translateY(.8rem) rotate(45deg);
}

/* Hamburger Menu */

.header__main {
  display: flex;
  align-items: center;
  padding-top: 13rem;
  height: 100vh;
  background-color: #2B2B2B;
  position: relative;
  overflow: hidden;
}

.main__circle-left {
  position: absolute;
  opacity: .4;
  width: 30%;
  top: -15rem;
  left: -23rem;
}

.main__circle-right {
  position: absolute;
  width: 60%;
  bottom: -30rem;
  right: -30rem;
}

.header__banner-review {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.header__main-title {
  font-weight: 700;
  font-family: 'Poppins-Bold';
  font-size: 7.8rem;
  color: #fff;
  line-height: 8.1rem;
}

.header__main-title>span {
  color: #994fff;
}

.header__smart-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header__smart-img {
  width: 90%;
  z-index: 1;
}

.header__main-future {
  padding: 7rem 0 3rem 0;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-family: 'Poppins-Bold';
  font-weight: 700;
  color: #fff;
}

.header__main-caption {
  font-size: 1.4rem;
  opacity: 0.9;
  color: #b2aabf;
  line-height: 2.7rem;
}

/* gallery style */

.gallery {
  padding: 15rem 0;
  background-color: #F4F4F4;
}

.gallery__slider {
  position: relative;
  margin-top: 9rem;
}

/* Swiper */

.swiper {
  width: 100% !important;
  position: initial !important;
}

.swiper-wrapper {
  width: 100% !important;
}

.swiper-slide>img {
  width: 100% !important;
}

.swiper-pagination {
  bottom: -2rem !important;
  text-align: start !important;
}

.swiper-pagination-bullet {
  background-color: #b47eff !important;
}

.swiper-pagination-bullet-active {
  background-color: #7d1eff !important;
}

/* features */

.features {
  padding: 15rem 0;
  background-color: #FFF;
}

/* .splendidfeatures {} */

.smart__property {
  margin-top: 15rem;
}

/* Image Introduction */

.image__introduction {
  background-color: #F4F4F4;
  padding: 15rem 0;
}

/* .image__introduction-heading {} */

.image__introduction-heading .about_product {
  margin: 0;
}

.image__introduction-body {
  margin-top: 5rem;
  width: 100%;
}

.introduction__img {
  width: 100%;
}

/* Review Product */

.review {
  background-color: #363636;
  padding: 15rem 0;
}

.review__heading {
  text-align: center;
}

.review__heading .about_product .about_title {
  color: #fff;
}

.review__heading .about_product .about_title>span,
.review__heading .about_product .about_more {
  display: none;
}

.review__product-container {
  margin-top: 7rem;
}

.review__product {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  color: #fff;
  padding: 3.5rem 1.5rem 0 1.5rem;
  background-color: #2b2b2b;
}

.review__product-brand {
  font-size: 1.4rem;
}

.review__product-name {
  padding: 1.5rem 0 3rem 0;
  font-size: 3rem;

}

.review__product-price {
  font-size: 2.1rem;
}

.review__product-brand,
.review__product-name,
.review__product-price {
  font-family: 'Poppins-Bold';
  font-weight: 700;
}

.review__img-container,
.review__product-img {
  width: 100%;
}

.mint-green {
  color: #99ffee;
}

.purpel-berry {
  color: #cea9ff;
}

.golden-sunset {
  color: #f3b560;
}

/* Developer */

.developer {
  padding: 15rem;
}

/* Responsive */

@media screen and (max-width: 1200px) {
  .about_product {
    width: 70%;
  }

  .splendid__img {
    width: 100%;
  }
}

@media screen and (max-width: 992px) {
  .about_product {
    width: 80%;
  }

  .header__main-title {
    font-size: 7rem;
    line-height: 7rem;
  }

  .header__smart-img {
    width: 100%;
  }

  .splendid__option-container:nth-child(2) {
    padding: 3rem 0;
  }

  .splendid__option-desc {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .header__menu {
    width: 100%;
    top: 100%;
    left: 0;
    right: 0;
    height: 0;
    position: absolute;
    flex-direction: column;
    background-color: #232323;
    transition: all 200ms ease-in;
    overflow: hidden;
  }

  .menu--open {
    height: 60vh;
  }

  .header__menu-item {
    font-size: 1.3rem;
    padding: 2rem;
    color: #FFF;
    border-bottom: 1px solid #303030;
  }

  .header__menu-item:first-child {
    padding: 2rem;
  }

  .nav_line-basket {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav__toggle-icon {
    display: flex;
  }

  .about_product {
    width: 100%;
  }

  .about_title {
    font-size: 4.3rem;
  }

  .header__basket {
    display: none;
  }

  .basket-query {
    display: flex;
  }

  .header__main {
    display: block;
  }

  .header__smart-content {
    justify-content: center;
  }

  .header__smart-img {
    width: 100%;
  }

  .main__circle-right,
  .main__circle-left {
    display: none;
  }

  .smart__property {
    margin-top: 5rem;
  }
}

@media screen and (max-width: 576px) {
  * {
    cursor: default !important;
  }

  .about_title {
    font-size: 4rem;
    line-height: 5.3rem;
  }

  .header__main-title {
    font-size: 5rem;
    line-height: 6rem;
  }

  .header__main-future {
    padding: 3rem 0;
  }

  .splendid__option-container:hover {
    transition: none;
    transform: none;
  }

  .splendid__content-caption {
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 380px) {
  .about_title {
    font-size: 3.5rem;
    line-height: 4rem;
  }

  .header__main-title {
    font-size: 4rem;
    line-height: 5rem;
  }
}