.header__main {
    /* padding-top: 9rem; */
    height: 100vh;
    background-color: #2B2B2B;
    position: relative;
}

.header__main-circle {
    position: absolute;
    opacity: .4;
    width: 30%;
    top: -15rem;
    left: -23rem;
}